// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  width: 800px;
  height: 1200px;
  margin: auto;
  padding-left: 25px;
  background-color: rgb(132, 168, 187, 59%);
}

.text {

font-family: "Inter", sans-serif;

font-style: italic;

font-weight: 900;

color: rgb(0, 0, 0, 70%);
}

.title {
  font-size: 32px;
  text-align: left;
}

.li {
  list-style-type: none;
}

.ul {
  padding-right: 25px;
  margin-bottom: 2em;
 }

 .li_spacing {
  padding-right: 20px;
  word-spacing: 12em;
 }

/* start profile foto */

.foto_profile {
  width: 324px;
  height: 500px;
  padding-top: 40px;
 }
 
/* end profile foto*/

/* name */

.name {
  width: 420px;
  height: 190px;
  position: absolute;
  top: 40px;
  right: 25px;
  font-size: 64px;
  text-align: center;
  background: #84a8bb;
}

/* end name */

/* education */

.education {
  width: 420px;
  height: 310px;
  position: absolute;
  top: 230px;
  right: 25px;
  background: #84a8bb;
 


}

/* end education*/

/* about */

.about {
  width: 420px;
  height: 318px;
  position: absolute;
  right: 25px;
  background: #84a8bb;
}
/* end about */

/* skills */

.skills {
  width: 420px;
  height: 302px;
  position: absolute;
  right: 25px;
  bottom: 40px;
  background: #84a8bb;
}
/* end skills */

/* start contact */

.contacts {
      
      position: absolute;
      margin: auto;
      width: 330px;
      height: 620px; 
      background: rgb(132, 168, 187, 59%);
}

/* end contacts*/

.footer_links {
  width: 300px;
  height: 300px;
  padding-left: 0px;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}
.footer_facebook {
 width: 60px;
 height: 55px;
 background: url(./img/facebook.png) no-repeat;

}
.footer_instagram {
  width: 60px;
  height: 55%;
  background: url(./img/insta.png) no-repeat;
}
.footer_github {
  width: 61px;
  height: 55%;
  background: url(./img/github.png) no-repeat;
}

