
<<<<<<< HEAD
body {
  box-sizing: border-box;
  max-width: 100%;
  width: 800px;
  height: 1200px;
  padding-left: 30px;
  background-color: rgb(132, 168, 187, 59% );
}

/* start profile foto */

.foto_profile {
  width: 354px;
  height: 500px;
  padding-top: 40px;
 }
 
/* end profile foto*/

/* start contact */

.contacts {
      box-sizing: border-box;
      width: 324px;
      height: 620px; 
      padding: 30px;
      background: rgb(132, 168, 187, 59%);
}

/* end contact */
=======
>>>>>>> 69f6b71792ff9f565e1613aabdcc85dfca1d2a73
